.testcase-tabs .ant-tabs-nav {
  margin: 0;
}

.testcase-tabs .ant-tabs-tab {
  padding: 4px 12px;
  font-size: 12px;
}

.testcase-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #16a34a; /* xanh kiá»ƒu Accepted */
}

.testcase-tabs .ant-tabs-ink-bar {
  background: #16a34a;
}
